body{
    text-align:center;
    font-family:'Segoe UI',sans-serif;
    background-color:#eee;
    color:#333;
  }
  #img-div{
    background-color:white;
    width:50%;
    padding:5px;
    margin:1px auto;
  }
  #image{ 
    display:block;
    height:auto;
    min-width:50%;
    max-width:100%;
    filter:grayscale(46%);
    
  }
  h4{
    font-size:1.1rem;
  }
  ul li{
    margin-bottom:20px;
  }
  #achievements-div{
    margin:10px auto;
    width:90%;
    text-align:left;
  }
  
  quote{
    display:block;
    font-weight: 700;
    margin:32px 46px;
    font-style:italic;
  }
  
  